<mat-toolbar color="primary">
  <span><a routerLink="/">My Application</a></span>
  <div id="header-space"></div>
  <ul id="links-list">
    <li *ngIf="isAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Create Post</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="isAuthenticated">
      <button mat-stroked-button (click)="onLogOut()">LogOut</button>
    </li>
  </ul>
</mat-toolbar>
