mat-toolbar{
  display: flex;
}

a{
  color: white;
  text-decoration: none;
}

#links-list{
  list-style: none;
}

#links-list li{
  display: inline-block;
  /* border: 1px solid black; */
}

#header-space{
  margin: auto;
}
