<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="savedPosts.length>0 && !isLoading" multi="true">
  <mat-expansion-panel *ngFor="let post of savedPosts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{post.desc}}, {{post.id}}</p>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <mat-action-row *ngIf="isAuthenticated && userId===post.creator">
      <!-- [routerLink]="['/edit', post.id]" can also be used -->
      <a routerLink="/edit/{{post.id}}" mat-button color="primary">Edit</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator (page)="onChangedPage($event)" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" *ngIf="savedPosts.length>0">
</mat-paginator>

<p *ngIf="savedPosts.length==0">No Posts To Display</p>
