<mat-accordion *ngIf="savedPosts.length>0" multi="true">
  <mat-expansion-panel *ngFor="let post of savedPosts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{post.desc}}, {{post.id}}</p>
    <mat-action-row>
      <button mat-button color="primary">Edit</button>
      <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="savedPosts.length==0">No Posts To Display</p>
